#header
{
  display: flex;
  float: left;
}

body
{
   background-color:;
}

#nav
{
   display: flex;
}

#section
{
   display: flex;
   flex-direction: column;
}

#vacance
{
   display: flex;
   flex-direction: column;
}

#article
{
   background-color:  #F2F2F2;
   display: flex;
   justify-content:space-around ;
   align-items: center;
   
}


#populaire
{
   background-color: #F2F2F2;
   display: flex;
   justify-content: space-around;
   
}

#activite
{
   display: flex;
   justify-content: space-around;
}

#footer
{
   background-color: #F2F2F2;
   display: flex;
   justify-content: space-between;
}

#propos
{
    display: flex;
    flex-direction: column;
}

#hebergements
{
   display: flex;
   flex-direction: column;
}

#assistance
{
   display: flex;
   flex-direction: column;
}

#liste
{
   display: flex;
   justify-content: space-between;
}