#header /*logo*/
{
  display: flex;
}

#nav /*liste de hebergements/activites/s'inscrire*/
{
   display: flex;
}

.hebergements:hover
{
   border-top: 2px #DEEBFF solid ;
}

.activites:hover
{
   border-top: 2px #DEEBFF solid ;
}

.inscrire:hover
{
   border-top: 2px #DEEBFF solid ;
}

#section /* vacance/liste/article/populaire/activite */
{
   display: flex;
   flex-direction: column;
}

#vacance
{
   display: flex;
   flex-direction: column;
}

#liste
{
   display: flex;
   justify-content: space-between;
   width: 600px;
}

#article
{
   background-color:  #F2F2F2;
   display: flex;
   justify-content:space-around ;
   align-items: center;
   flex-wrap: wrap;
   margin: auto;
   padding: auto;
   
}


#populaire
{
   background-color: #F2F2F2;
   display: flex;
   justify-content: space-around;
   
}

#activite
{
   display: flex;
   justify-content: space-around;
}

#footer /* propos/hebergements/assistance */
{
   background-color: #F2F2F2;
   display: flex;
   justify-content: space-between;
}

#propos
{
    display: flex;
    flex-direction: column;
}

#hebergements
{
   display: flex;
   flex-direction: column;
}

#assistance
{
   display: flex;
   flex-direction: column;
}

